@mixin header-default-components() {
  button {
    text-transform: uppercase;
  }

  .spacer {
    flex: 1 1 auto;
    height: 30px;
    margin-top: auto;
    margin-bottom: auto;
  }

  .material-icons {
    vertical-align: middle;
    text-align: center;
  }

  a.nav-item {
    text-transform: uppercase;
  }
}

@mixin header-default($theme) {
  app-component-shared-header {
    @include header-default-components();
  }
}

@mixin header-default-color($theme) {
}

@mixin header-login($theme) {
  app-component-shared-header-login {
    @include header-default-components();
  }
}

@mixin header-login-color($theme) {
}

@mixin header-notfound($theme) {
  app-component-shared-header-notfound {
    @include header-default-components();
  }
}

@mixin header-login-color($theme) {
}
