.editor-status {
  display: flex;
  flex-direction: row;
  width: 100%;
  font-family: "Courier New", Courier, monospace;

  .editor-status-left {
    flex-basis: 100%;
  }

  .editor-status-right {
    flex-basis: 100%;
    display: flex;
    flex-direction: row-reverse;
  }
}

.text-uppercase {
  text-transform: uppercase;
}
