<h1>Users</h1>
<div class="table-content">
  <mat-tab-group [selectedIndex]="selectedTabIndex">
    <mat-tab>
      <ng-template matTabLabel>
        <span>Active Users</span>
      </ng-template>
      <ng-template matTabContent>
        <app-component-user-tab-active
          [isLoading]="isLoadingActive"
          [users]="active"
          (isDisplayed)="loadActive($event)"
        ></app-component-user-tab-active>
      </ng-template>
    </mat-tab>
    <mat-tab>
      <ng-template matTabLabel>
        <span>Trash</span>
      </ng-template>
      <ng-template matTabContent>
        <app-component-user-tab-trash
          [isLoading]="isLoadingTrash"
          [users]="trash"
          (isDisplayed)="loadTrash($event)"
        ></app-component-user-tab-trash>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
</div>
<div class="fab-container">
  <button
    mat-fab
    color="primary"
    matTooltip="Add new user"
    routerLink="/user/create"
  >
    <mat-icon>add</mat-icon>
  </button>
</div>
