<h1>Users</h1>
<div class="table-content">
  <nav mat-tab-nav-bar [tabPanel]="tabPanel">
    <a
      mat-tab-link
      *ngFor="let tabLink of tabLinks; index as i"
      (click)="navigate(tabLink.slug)"
      [active]="activeLink === i"
    >
      {{tabLink.name}}
    </a>
  </nav>
  <mat-tab-nav-panel #tabPanel>
    <router-outlet></router-outlet>
  </mat-tab-nav-panel>
</div>
<div class="fab-container">
  <button
    mat-fab
    color="primary"
    matTooltip="Add new user"
    routerLink="/user/create"
  >
    <mat-icon>add</mat-icon>
  </button>
</div>
