.CodeMirror {
  height: auto !important;
  min-height: 200px;
}

.CodeMirror-scroll {
  min-height: 300px;
  overflow-x: auto !important;
  overflow-y: hidden !important;
}

.CodeMirror-dialog.CodeMirror-dialog-bottom {
  margin-left: 30px;
}
