div.form-container {
  width: 100%;
}

form {
  align-items: center;
}

mat-progress-bar {
  margin-bottom: 3px;
}

mat-progress-bar.hide {
  visibility: hidden;
}

mat-form-field.form-full-width {
  width: 100%;
}

.full-width {
  width: 100%;
}

.text-center {
  text-align: center;
}
