table {
  width: 100%;

  .mat-cell,
  .mat-header-cell {
    padding-left: 5px;
    padding-right: 5px;
  }

  .mat-row .mat-cell {
    cursor: pointer;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
  }

  .mat-row:hover .mat-cell {
    border-color: currentColor;
  }

  .mat-column-no.mat-cell {
    border-right: 1px solid currentColor;
    width: 40px;
  }

  .mat-column-name.mat-cell {
    width: 80px;
  }

  .mat-column-email.mat-cell {
    width: 100px;
  }

  .mat-column-content.mat-cell {
    width: 80px;
  }

  .mat-column-created-at.mat-cell {
    width: 80px;
  }

  .mat-column-action.mat-cell {
    width: 70px;
  }

  .w100 {
    width: 100%;
  }

  .text-center {
    text-align: center;
  }

  .text-right {
    text-align: right;
  }
}
