@use "../../../../styles/constants";

button {
  text-transform: uppercase;
}

.spacer {
  flex: 1 1 auto;
  height: 30px;
  margin-top: auto;
  margin-bottom: auto;
}

.material-icons {
  vertical-align: middle;
  text-align: center;
}

a.nav-item {
  text-transform: uppercase;
}
