.markdown-label {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;

  .markdown-button-right {
    margin-left: 10px;
  }
}

.markdown-container {
  display: flex;
  flex-direction: row;
  background-color: rgba(0, 0, 0, 0.04);
  margin-top: 5px;

  .markdown-item {
    flex-basis: 100%;
    overflow-x: auto;
    border: 1px solid rgba(0, 0, 0, 0.4);
  }

  .markdown-item.darkmode {
    border: 1px solid rgba(230, 230, 230, 0.2);
  }

  .markdown-preview {
    display: initial;
    padding: 5px;
  }

  .markdown-preview.hide {
    display: none;
  }
}
